{{ .Name }}

{{ .Desc }}

[Exits]
{{- range .Exits }}
{{ .Name }} - {{ .Destination.Name }}
{{- else }}
There are no exits!
{{ end }}
{{if gt (len .Players) 1 -}}
[Players]
    {{- range .Players }}
        {{-  if ne $.Actor.ID .ID }}
{{.Desc}}
        {{- end }}
    {{- end }}
{{- end}}