{{ .Name }}


{{ .Desc }}


[Exits]
{{ range .Exits }}
{{ .Name }} - {{ .Destination.Name }}

{{ else }}
There are no exits!
{{ end }}

[Players]
    {{- range .Players }}
        {{-  if ne $.Actor.Id .Id }}
        
{{.Desc}}
        {{- end }}
    {{- end }}

